WA-112018/Labs/Labs sources/conversation-nodered-project
[{"id":"e15d73ea.7bb4c","type":"http in","z":"7ee384a2.6820f4","name":"Input","url":"/watson-chatbot","method":"post","swaggerDoc":"","x":130,"y":320,"wires":[["9048b9ea.8fa868","7ad40315.fec7cc"]]},{"id":"9048b9ea.8fa868","type":"debug","z":"7ee384a2.6820f4","name":"","active":false,"console":"false","complete":"true","x":270,"y":280,"wires":[]},{"id":"a2d18946.80d168","type":"switch","z":"7ee384a2.6820f4","name":"Text Length","property":"payload.text.length","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":270,"y":680,"wires":[["1cb032d1.3323e5"],["8ce86e51.cd4ab"]]},{"id":"64f34c6.636de34","type":"http response","z":"7ee384a2.6820f4","name":"","x":1370,"y":320,"wires":[]},{"id":"c5a6b64c.3f1538","type":"watson-conversation-v1","z":"7ee384a2.6820f4","name":"","workspaceid":"f4f1a2f8-492f-4f0b-ad84-127dd6372d6e","multiuser":false,"context":false,"x":910,"y":200,"wires":[[]]},{"id":"e3b3d18e.22c19","type":"http in","z":"7ee384a2.6820f4","name":"HTML","url":"/watson-chatbot","method":"get","swaggerDoc":"","x":130,"y":820,"wires":[["46c8d103.cda548"]]},{"id":"46c8d103.cda548","type":"function","z":"7ee384a2.6820f4","name":"HTML Form","func":"\nvar html = \"\\n\\\n<html>\\n\\\n<head>\\n\\\n<script \\n\\\n  src='//code.jquery.com/jquery-3.1.1.min.js' \\n\\\n  integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' \\n\\\n  crossorigin='anonymous'></script>\\n\\\n<script>\\n\\\nvar token = 'vH8Yx1kA9fK0sj3oENhnrjow';\\n\\\n$(function() {\\n\\\n    $('#message').keypress(function (e) {\\n\\\n        if (e.which == 13) {\\n\\\n            submit();\\n\\\n            return false;\\n\\\n        }\\n\\\n    });\\n\\\n    \\\n    $('#submit').click(submit);\\n\\\n    \\\n    function submit() {\\n\\\n        var msg = $('#message').val();\\n\\\n        $('#messages').append('<li class=\\\"human\\\">' + msg + '</li>')\\n\\\n        $('#message').val(\\\"\\\")\\n\\\n        var options = {\\n\\\n            url:'/watson-chatbot',\\n\\\n            method:'POST',\\n\\\n            data:{text: msg, token: token}\\n\\\n        }\\n\\\n        $.ajax(options).done(function(res) {\\n\\\n            $('#messages').append('<li class=\\\"robot\\\">' + res + '</li>')\\n\\\n            $('#messages').parent().scrollTop($('#messages').parent()[0].scrollHeight);\\n\\\n        })\\n\\\n    }\\n\\\n})\\n\\\n</script>\\n\\\n<style>\\n\\\n#messages {padding: 0px;} \\n\\\n#messages li {list-style-type: none; padding: 10px 30px; }\\n\\\n#message {padding-left: 10px; float: left; width: calc(100% - 100px); height: 50px; font-size: 30px;} \\n\\\nli.human {color: green; text-align: right}\\n\\\nli.robot {color: red; text-align: left}\\n\\\n</style>\\n\\\n</head>\\n\\\n<body style='margin: 0px;'>\\n\\\n    <div style='height: calc(100% - 60px); overflow-y: scroll;'>\\n\\\n        <ul id='messages'></ul>\\n\\\n    </div>\\n\\\n    <div style='position: fixed; bottom: 20px; width: 100%; height: 40px;'>\\n\\\n        <input id='message'/>\\n\\\n        <input id='submit' type='submit' style='float: left; width: 100px; height: 50px; '/>\\n\\\n    </div>\\n\\\n</body>\\n\\\n</html>\\n\\\n\"\n\nmsg.payload = html;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":820,"wires":[["2cbd8284.41e92e"]]},{"id":"2cbd8284.41e92e","type":"http response","z":"7ee384a2.6820f4","name":"","x":510,"y":820,"wires":[]},{"id":"669aa1f4.d082c8","type":"http request","z":"7ee384a2.6820f4","name":"Conversation Call","method":"POST","ret":"obj","url":"https://gateway.watsonplatform.net/assistant/api/v1/workspaces/<WorkspaceID>/message?version=2018-07-10","tls":"","x":770,"y":320,"wires":[["29e01f5d.5c6308","4a2495cf.a00b9c"]]},{"id":"7ad40315.fec7cc","type":"function","z":"7ee384a2.6820f4","name":"Pre Processing","func":"//message header for the API call\nvar BPXEventPostHeaders = {\n    \"Content-Type\":\"application/json\"\n     };\nmsg.headers = BPXEventPostHeaders;    \n     \nvar text0 = msg.payload.text;\nvar lpayload = global.get(\"payloadRed\");\n\n//retrieve the context and send it to Conversation\nif (global.get(\"payloadRed\")) {\n    msg.payload = {\n//        \"context\": lpayload.context,\n        \"input\":{\"text\": text0}\n        };\n    } else \n    {\n    msg.payload= {\n        \"input\":{ \"text\": text0}\n        };\n    }\n    \n//Display the captured input    \nnode.warn(\"Input Captured: \" + msg.payload.input.text);\n\n//Update Public or Private Context\nif (global.get(\"updatesContext\")) {\n    var lupdatesContext = global.get(\"updatesContext\");\n    var lvalue = lupdatesContext.value;\n    var lcontext = lupdatesContext.context;\n\n    if (lcontext===\"public\" && msg.payload.context) {\n        //update public context\n        msg.payload.context[lvalue] = text0;\n        node.warn(\"publicContext: \" + msg.payload.context[lvalue]);\n    }\n    else if (lcontext===\"private\") {\n        if (global.get(\"privateContext\")){\n            var lprivateContext = global.get(\"privateContext\");\n         } else {\n            var lprivateContext = {};\n        }\n        //update private context\n        lprivateContext[lvalue] = text0;\n        node.warn(\"private Context: \" + lprivateContext[lvalue]);\n        global.set(\"privateContext\",lprivateContext);\n        //Reset the input sent to conversation    \n        msg.payload.input.text=\"\";\n        node.warn(\"Input Sent: \" + msg.payload.input.text);\n    }\n    \n    global.set(\"updatesContext\",null);\n}\n\n//Don't initiate API call when the user iniate the variables\nif (global.get(\"initVariable\") === 1) \n    {\n    global.set(\"initVariable\",0);\n    return [null,msg];\n    }\nelse\n    {\n    return [msg,null];\n    }","outputs":"2","noerr":0,"x":560,"y":320,"wires":[["669aa1f4.d082c8","d06e292.0113358"],[]]},{"id":"d06e292.0113358","type":"debug","z":"7ee384a2.6820f4","name":"","active":false,"console":"false","complete":"true","x":730,"y":280,"wires":[]},{"id":"29e01f5d.5c6308","type":"debug","z":"7ee384a2.6820f4","name":"","active":true,"console":"false","complete":"true","x":950,"y":280,"wires":[]},{"id":"36a0440a.d6e04c","type":"debug","z":"7ee384a2.6820f4","name":"","active":false,"console":"false","complete":"true","x":1370,"y":280,"wires":[]},{"id":"bc2502fa.32aef","type":"function","z":"7ee384a2.6820f4","name":"Post Processing","func":"//Save the global variable of Conversation\n//intents , entities, input.text, ouput, context\nvar lpayload =msg.payload;\nvar txt = \"\";\nvar x;\nvar lprivatecontext = global.get(\"privateContext\");\n\nglobal.set(\"payloadRed\",lpayload);\n\n// returns intents\nif (msg.payload.intents[0]) {\n    node.warn(\"intents: \" +  JSON.stringify(msg.payload.intents));\n    } else {\n    node.warn(\"intents: null\");    \n    }\n\n//prepare to update Public or Private Context\nif (msg.payload.output.updatesContext) {\n    global.set(\"updatesContext\",msg.payload.output.updatesContext);\n    node.warn(\"updates Context: \" + JSON.stringify(msg.payload.output.updatesContext));\n    }\n\n//identify the right Outputs\nif (msg.payload.output.CallToneAnalyser) {\n    //build the payload for the toneanalyser\n    //var utterances = new Array();\n    var utterances = [];\n    utterances[0] ={\"text\":msg.payload.input.text};\n    msg.payload.utterances = utterances;\n    return [null,msg];\n} else\n{\n    //build the payload for the Web Form\n    for (x in lpayload.output.text){\n        txt += lpayload.output.text[x]+ \" \";\n        }\n \n    node.warn(\"output sent by Conversation: \" + txt);\n    \n    if (txt.lastIndexOf(\"{{\")!==-1 && txt.lastIndexOf(\"}}\")!==-1){\n        var lvariable=txt.substring(txt.lastIndexOf(\"{{\")+2,txt.lastIndexOf(\"}}\"));\n        if (lvariable!==\"\"){\n            if (msg.payload.context[lvariable]){\n                var lvariableValue = msg.payload.context[lvariable];\n                node.warn(\"public Context variable: \" + lvariable);\n            } else if (lprivatecontext[lvariable]) {\n                var lvariableValue = lprivatecontext[lvariable];\n                node.warn(\"private Context variable: \" + lvariable);\n            }\n            txt = txt.replace(\"{{\"+lvariable+\"}}\",lvariableValue);\n            node.warn(\"output sent to the user: \" + txt);\n        }\n    }\n    \n    msg.payload = txt;\n    return [msg,null];\n}","outputs":"2","noerr":0,"x":1180,"y":320,"wires":[["36a0440a.d6e04c","64f34c6.636de34"],["82a262db.dfc21"]]},{"id":"8b287fa8.ca3a28","type":"watson-tone-analyzer-v3","z":"7ee384a2.6820f4","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"customerEngagementTone","x":540,"y":520,"wires":[["4fb18653.efbc78","c2722797.3ae7e8"]]},{"id":"4fb18653.efbc78","type":"debug","z":"7ee384a2.6820f4","name":"","active":false,"console":"false","complete":"true","x":730,"y":480,"wires":[]},{"id":"f03f7b32.d5e63","type":"natural-language-understanding","z":"7ee384a2.6820f4","name":"NLU Pre Proc","categories":true,"concepts":false,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"5","keyword":true,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"5","metadata":false,"relation":false,"semantic":false,"semantic-entities":true,"semantic-keywords":true,"maxsemantics":"50","x":760,"y":680,"wires":[["d7a641ea.78d948","f529c4f3.c6ba9"]]},{"id":"d7a641ea.78d948","type":"debug","z":"7ee384a2.6820f4","name":"","active":false,"console":"false","complete":"true","x":930,"y":640,"wires":[]},{"id":"bf522383.f5d6f8","type":"inject","z":"7ee384a2.6820f4","name":"","topic":"","payload":"reset context","payloadType":"str","repeat":"","crontab":"","once":false,"x":148.3193359375,"y":100.75687217712402,"wires":[["f3c5617c.957008"]]},{"id":"f3c5617c.957008","type":"function","z":"7ee384a2.6820f4","name":"reset context","func":"global.set(\"payloadRed\",null);\nglobal.set(\"initVariable\",1);\nglobal.set(\"privateContext\",null);\nglobal.set(\"updatesContext\",null);\n//delete msg.params;\nmsg.payload ={};\n\nreturn msg;","outputs":1,"noerr":0,"x":348.3193359375,"y":100.75687217712402,"wires":[["ace50521.854498"]]},{"id":"74fc7ff0.255e4","type":"comment","z":"7ee384a2.6820f4","name":"config-------------------------------------------------","info":"","x":263,"y":64,"wires":[]},{"id":"ace50521.854498","type":"link out","z":"7ee384a2.6820f4","name":"config","links":["31cbc9db.e69796"],"x":535,"y":100,"wires":[]},{"id":"31cbc9db.e69796","type":"link in","z":"7ee384a2.6820f4","name":"main stream pre processing","links":["ace50521.854498","6814fa7f.b6001c","b924fd08.ea7f78","1f672f98.e6739","8ce86e51.cd4ab"],"x":415,"y":360,"wires":[["7ad40315.fec7cc"]]},{"id":"55863c6d.020804","type":"comment","z":"7ee384a2.6820f4","name":"Web Form--------------------------------------------","info":"","x":260,"y":780,"wires":[]},{"id":"fae229b.c1b6958","type":"comment","z":"7ee384a2.6820f4","name":"Main stream","info":"","x":153.6666717529297,"y":235.86666870117188,"wires":[]},{"id":"68ae27c5.7aed5","type":"comment","z":"7ee384a2.6820f4","name":"Tone Analyser-----------------------------------------","info":"","x":260,"y":420,"wires":[]},{"id":"1cb032d1.3323e5","type":"function","z":"7ee384a2.6820f4","name":"Pre - processing","func":"\nmsg.payload = msg.payload.text;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":680,"wires":[["f03f7b32.d5e63","6302f6cb.37bc08"]]},{"id":"966f2ada.b057b","type":"link in","z":"7ee384a2.6820f4","name":"tone analyser","links":["82a262db.dfc21"],"x":375,"y":520,"wires":[["8b287fa8.ca3a28"]]},{"id":"e3a60763.4ea738","type":"comment","z":"7ee384a2.6820f4","name":"Natural Language understanding-------------------","info":"","x":260,"y":580,"wires":[]},{"id":"d8edb5e4.cb6a58","type":"link out","z":"7ee384a2.6820f4","name":"User Input","links":["368ef5ae.10048a","cf8b93d0.0074d"],"x":255,"y":360,"wires":[]},{"id":"c2722797.3ae7e8","type":"function","z":"7ee384a2.6820f4","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\nvar emptystring ='';\nvar lpayload = global.get(\"payloadRed\");\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.utterances_tone\n .filter(function(c){\n return c;\n })[0].tones;\n \n//set text input for Conversation\nmsg.payload.input.text=\"\";\n\nif (emotions.length > 0) {\n    node.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n} else {\n    node.warn(\" no detected tones: \\n\");\n    delete msg.response\n    //set text input for Conversation\n    msg.payload.input.text=\"\";\n    return msg;\n}\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n topemotion = topemotion.tone_name;\n} else {\n topemotion = \"neutral\";\n}\n\n//retrieve the context and send it to Conversation\n// and add top emotion to conversation context\nif (global.get(\"payloadRed\")) {\n  lpayload.context.emotion =topemotion;\n  global.set(\"payloadRed\",lpayload);\n} else {\n    \n}\n\ndelete msg.response\n\n//set text input for Conversation\nmsg.payload.input.text=\"\";\nnode.warn(\"Emotion added to conversation context:\\b \" + topemotion); \n\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":520,"wires":[["da8dd481.91e918","6814fa7f.b6001c"]]},{"id":"da8dd481.91e918","type":"debug","z":"7ee384a2.6820f4","name":"","active":false,"console":"false","complete":"true","x":990,"y":480,"wires":[]},{"id":"82a262db.dfc21","type":"link out","z":"7ee384a2.6820f4","name":"","links":["966f2ada.b057b"],"x":1335,"y":360,"wires":[]},{"id":"6814fa7f.b6001c","type":"link out","z":"7ee384a2.6820f4","name":"","links":["31cbc9db.e69796"],"x":955,"y":520,"wires":[]},{"id":"4a2495cf.a00b9c","type":"change","z":"7ee384a2.6820f4","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":320,"wires":[["bc2502fa.32aef"]]},{"id":"21abea2c.204036","type":"comment","z":"7ee384a2.6820f4","name":"--------------------Conversation message API Call ---------------------------","info":"","x":760,"y":240,"wires":[]},{"id":"b08104f5.e6b96","type":"function","z":"7ee384a2.6820f4","name":"Pre - processing","func":"var lpayload = global.get(\"payloadRed\");\nvar lintents = lpayload.intents;\n\n//retrieve the context and send it to Conversation\nif (global.get(\"payloadRed\")) {\n    msg.params = { \"context\": lpayload.context};\n    //msg.params.intents =lintents;\n    } else \n    {\n    \n    }\n\n//set text input for Conversation node only\nif (msg.payload.text && msg.payload.text!==\"\") {\n    msg.payload = msg.payload.text;\n} else {\n    msg.payload = \"\"\n}\n\nnode.warn(\"Input Captured: \" + msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":700,"y":200,"wires":[["c5a6b64c.3f1538"]]},{"id":"9d2b5075.8f6a7","type":"inject","z":"7ee384a2.6820f4","name":"","topic":"","payload":"Set context variable","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":140,"wires":[["35c9b394.e8decc"]]},{"id":"35c9b394.e8decc","type":"function","z":"7ee384a2.6820f4","name":"Set restaurant variable","func":"var lpayload = global.get(\"payloadRed\");\nvar lrestaurant=\"hotel restaurant\";\n\n//retrieve the context and update it\nif (lpayload) {\n    if (lpayload.context) {\n        lpayload.context.hotel_amenity = lrestaurant;\n        global.set(\"payloadRed\",lpayload);\n        msg.payload=global.get(\"payloadRed\");\n    } else \n    {\n        msg.payload=\"error\";\n    }\n} else \n{\n    lpayload = {\n        \"context\": {\"hotel_amenity\": lrestaurant}\n        };\n    global.set(\"payloadRed\",lpayload);\n    msg.payload=global.get(\"payloadRed\");\n    }\nreturn msg;","outputs":1,"noerr":0,"x":381.6806640625,"y":139.24312782287598,"wires":[["f07a25b7.51c54"]]},{"id":"f07a25b7.51c54","type":"debug","z":"7ee384a2.6820f4","name":"","active":false,"console":"false","complete":"payload","x":590,"y":140,"wires":[]},{"id":"f529c4f3.c6ba9","type":"function","z":"7ee384a2.6820f4","name":"add Location to context","func":"var location = [];\nvar threshold = 0.5;\nvar entities ='';\nvar emptystring ='';\nvar lpayload = global.get(\"payloadRed\");\nvar language=''\n\n// simplify object returned by NLU to only the Location\nentities = msg.features.entities;\nlanguage = msg.features.language;\n\nif (entities.length > 0) {\n    if (entities[0].type==\"Location\") {\n        location=entities[0].text;\n        \n        //retrieve the context and send it to Conversation\n        // and add Location to conversation context\n        if (global.get(\"payloadRed\")) {\n            lpayload.context.location=location;\n            lpayload.context.language=language;\n            global.set(\"payloadRed\",lpayload);  \n        }\n    } \n    node.warn(\"Entities: \\n\" + JSON.stringify(entities));\n    node.warn(\"Language: \\n\" + JSON.stringify(language));\n} else {\n    node.warn(\" no detected entity: \\n\");\n    \n}\n\n//set text input for Conversation\ndelete msg.features;\ntext = msg.payload;\ndelete msg.payload;\nvar lcpayload={'text':text}\nmsg['payload'] = lcpayload;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1010,"y":680,"wires":[["1f672f98.e6739","ae93e452.5db4b"]]},{"id":"1f672f98.e6739","type":"link out","z":"7ee384a2.6820f4","name":"","links":["31cbc9db.e69796"],"x":1175,"y":680,"wires":[]},{"id":"ae93e452.5db4b","type":"debug","z":"7ee384a2.6820f4","name":"","active":false,"console":"false","complete":"true","x":1210,"y":640,"wires":[]},{"id":"6302f6cb.37bc08","type":"debug","z":"7ee384a2.6820f4","name":"","active":false,"console":"false","complete":"true","x":680,"y":640,"wires":[]},{"id":"8ce86e51.cd4ab","type":"link out","z":"7ee384a2.6820f4","name":"","links":["31cbc9db.e69796"],"x":375,"y":720,"wires":[]},{"id":"cf8b93d0.0074d","type":"link in","z":"7ee384a2.6820f4","name":"","links":["d8edb5e4.cb6a58"],"x":135,"y":680,"wires":[["a2d18946.80d168"]]}]
